/* App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

main {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: #5b8798;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #061d3b;
}


.navbar {
  background-color: #5b8798;
  padding: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}
.navbar a:hover {
  text-decoration: underline;
}

